<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
		<param-name>LUCENE_INDEX_DIRECTORY_PATH</param-name>
		<param-value>/Users/shubhamgupta/Documents/eclipse/workspace/WikipediaHierarchyExtractor/wikipedia-lucene-index-3/</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>CategoryHierarchiesLookup</servlet-name>
		<servlet-class>edu.isi.webserver.CategoryHierarchiesLookup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryHierarchiesLookup</servlet-name>
		<url-pattern>/lookupHierarchies</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IdentifyEntitiesServlet</servlet-name>
		<servlet-class>edu.isi.webserver.IdentifyEntitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentifyEntitiesServlet</servlet-name>
		<url-pattern>identifyEntities</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateGraphForEntitiesServlet</servlet-name>
		<servlet-class>edu.isi.webserver.CreateGraphForEntitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateGraphForEntitiesServlet</servlet-name>
		<url-pattern>graphEntities</url-pattern>
	</servlet-mapping>
</web-app>
